@use '../variables/general' as *;

.scroll-up {
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
    }

    &:hover {
        i {
            color: $dark-blue;
        }
    }

    i {
        font-size: 48px;
        cursor: pointer;
    }
}