@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    background-color: rgb(238, 246, 255);
    color: rgb(0, 47, 100);
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.darkMode {
    background-color: rgb(0, 47, 100);
    color: rgb(238, 246, 255);
}

.header {
    border-bottom: 3px solid rgb(0, 47, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.headerSeperator {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle > a {
    letter-spacing: 7px;
    font-size: 30px;
    color: rgb(0, 47, 100);
}

.mainTitle > a :hover {
    text-decoration: underline;
}

.headerBtn {
    align-self: flex-end;
}

#darkModeBtn {
    padding: 0.5rem 1.1rem;
    border-radius: 8px;
    background-color: rgb(0, 47, 100);
    color: rgb(238, 246, 255);
}

#darkModeBtn:hover {
    cursor: pointer;
    border: 1px solid rgb(238, 246, 255);
}

main {
    width: 70%;
}

.mainText {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.mainText > h3 {
    margin-bottom: 1rem;
}

.mainText > p {
    letter-spacing: 1.5px;
    line-height: 30px;
}