@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 246, 255);
    color: rgb(0, 47, 100);
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.darkMode {
    background-color: rgb(0, 47, 100);
    color: rgb(163, 163, 163);
}

.lightMode {
    background-color: rgb(238,246,255);
    color :rgb(0, 47, 100)
}

.projectLinksDarkMode {
    background-color: rgb(163, 163, 163);
    color :rgb(0, 47, 100)
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.headerSeperator {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTitle > a {
    letter-spacing: 7px;
    font-size: 30px;
    color: rgb(0, 47, 100);
}

.mainTitle > a :hover {
    text-decoration: underline;
}


#darkModeBtn {
    padding: 0.5rem 1.1rem;
    border-radius: 8px;
}

#darkModeBtn:hover {
    cursor: pointer;
    border: 1px solid rgb(238, 246, 255);
}

.headerLinks {
    margin-right: 15px;
}

main {
    width: 70%;
}

.mainText {
    width: 55%;
    margin: 0 auto;
    padding: 1rem;
}

.mainText > h3 {
    margin-bottom: 1rem;
}

.mainText > p {
    letter-spacing: 2px;
    line-height: 30px;
}

#handIcon {
    margin-left: 20px;
}

.contactLinks {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 32px;
    letter-spacing: 4px;
}

.contactLinks > a:hover {
    font-size: 36px;
}

#projects {
    width: 90%;
    margin-top: 3rem;
    padding-bottom: 1rem;

}

.projects {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.project {
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.project > img {
    border-radius: 6px;
}

.project > h3 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.projectLinks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 0 2rem;
}

.projectLink {
    color: rgb(0, 47, 100);
    border: 2px solid rgb(0, 47, 100);
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.projectLink:hover {
    background-color: rgb(0, 47, 100);
    color: rgb(238,246,255);
}

.projectDarkMode {
    background-color: rgb(0, 86, 184);
}

#articles {
    width: 90%;
    margin-top: 4rem;
}

.articles {
    margin-top: 2rem;
    position: relative;
}

.article {
    display: flex;
    column-gap: 20px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid olive;
}

.articleImg > img{
    border-radius: 9px;
}

.mainArticle > h3 {
    margin-bottom: 1rem;
}

.mainArticle > p > a {
    letter-spacing: 1.2px;
    font-weight: bold;
}

.mainArticle > p > a:hover {
    text-decoration: underline;
}

#articleCategories {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 1rem;
    border: 1px solid olive;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}

#articleCategories > li {
    cursor: pointer;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
}

#articleCategories > li:hover {
    text-decoration: underline;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}