@use './variables/general' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-yellow;
    font-family: "Poppins", sans-serif;
}

.text-bold {
    font-weight: 700;
}

.d-none {
    display: none;
}

.animate-scroll {
    opacity: 0;
    transition: all 1s ease;

    &.scrolled {
        opacity: 1;
    }
}

.mb-4 {
    margin-bottom: 16px;
}

.font-bold {
    font-weight: 700;
}